---
import './PostTiles.css';
const { posts } = Astro.props;
console.log(posts.map(p => p.data.image.placeholder));
---

<div class="tiles-container">
  <script>
    // console.log('GO');
    // TODO there is a problem when navigating to this view for the SECOND time, as this script is not triggered then
    const blurryPictureWrappers = document.getElementsByClassName('tile__picture-container');
    for (let item of blurryPictureWrappers) {
      const picture = item.querySelector('img');

      function loaded() {
        picture.classList.add('tile__picture--loaded-with-animation');
      }

      if (picture.complete) {
        loaded();
      } else {
        picture.addEventListener('load', loaded);
      }
    }
  </script>
  {
    posts.map(post => (
      <article class="tile">
        <a href={'/blog/' + post.slug}>
          <div class="tile__picture-container" style={`background-image: url(${post.data.image.placeholder})`}>
            <img class="tile__picture" src={post.data.image.url} transition:name={'img_' + post.slug} loading="lazy" />
            <div class="tile__title title" transition:name={'title_' + post.slug}>
              {post.data.title}
            </div>
          </div>
        </a>
        <div class="tile__description">{post.data.description}</div>
        <span class="tile__date" transition:name={'publishedAt_' + post.slug}>
          {post.data.publishedAt.toLocaleDateString()}
        </span>
      </article>
    ))
  }
</div>
