---
import './PostTiles.css';
const { posts } = Astro.props;
import { getImage, Picture } from 'astro:assets';

const postz = await Promise.all(
  posts.map(async post => {
    const src = (await import(`../../pictures/${post.data.image.url}.jpg`)).default;
    const placeholder = await getImage({ src, format: 'avif', width: 40 });
    return {
      ...post,
      picture: {
        src,
      },
      placeholder,
    };
  })
);
---

<div class="tiles-container">
  {
    postz.map(post => (
      <article class="tile">
        <a class="tile__link-container" href={'/blog/' + post.slug}>
          <div class="tile__picture-container" style={`background-image: url(${post.placeholder.src})`}>
            <Picture
              class="tile__picture"
              src={post.picture.src}
              formats={['avif', 'webp', 'jpg']}
              alt={post.data.image.alt}
              width="1280"
              transition:name={'img_' + post.slug}
            />
            <div class="tile__title title" transition:name={'title_' + post.slug}>
              {post.data.title}
            </div>
          </div>
          <div class="tile__description">{post.data.description}</div>
          <span class="tile__date" transition:name={'publishedAt_' + post.slug}>
            {post.data.publishedAt.toLocaleDateString()}
          </span>
        </a>
      </article>
    ))
  }
</div>
