---
import BaseLayout from '../BaseLayout.astro';
import './postLayout.css';
import { selectPostDate } from './postLayout';
import { Picture } from 'astro:assets';
import { languages } from '../../i18n/ui';
const { frontmatter, slug } = Astro.props;
const src = (await import(`../../pictures/${frontmatter.image.url}.jpg`)).default;
const lang = Astro.currentLocale as keyof typeof languages;
const tags = frontmatter.tags.map((tag: string) => ` #${tag.replaceAll(' ', '\u2011')}`);
---

<BaseLayout>
  <section class="meta__timestamp sans" transition:name={'publishedAt_' + slug}>
    {selectPostDate(frontmatter, lang)}
  </section>

  <h1 class="meta__title" transition:name={'title_' + slug}>{frontmatter.title}</h1>
  <span class="meta__tags sans">{tags}</span>

  <div style="padding-top: 1em">
    <Picture class="tile__picture" src={src} formats={['avif', 'webp', 'jpg']} alt={frontmatter.image.alt} width="1280" transition:name={'img_' + slug} />
  </div>

  <article class="post">
    <slot />
  </article>
</BaseLayout>
